body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0a0a0a;
  color: white;
}

.dashboard {
  display: flex;
}

.sidebar {
  width: 250px;
  background: #121212;
  height: 100vh;
  padding: 20px;
}

.sidebar h2 {
  color: #00ffcc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  padding: 10px;
  cursor: pointer;
}


.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: #1a1a1a;
}

.search-bar {
  padding: 8px;
  width: 300px;
}

.buy-btn, .wallet-btn {
  padding: 8px 12px;
  background: #00ffcc;
  border: none;
  cursor: pointer;
}

.trending {
  margin-top: 20px;
}

.category-list {
  display: flex;
  gap: 15px;
}

.category-card {
  background: #222;
  padding: 15px;
  width: 150px;
  text-align: center;
}

.sports-events {
  margin-top: 20px;
}

.event-card {
  background: #222;
  padding: 10px;
  margin-top: 10px;
}
