.create-market-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: #161b22;
  background-color: #0d1117;
  color: #ffffff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-left: 90px;
}

.market-form-container {
  flex: 2;

}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
  color: #58a6ff;
}

.market-form .form-group {
  margin-bottom: 15px;
  padding-right: 100px;

}

.market-form label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  color: #c9d1d9;
}

.market-form input,
.market-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #30363d;
  border-radius: 6px;
  background: #0d1117;
  color: #c9d1d9;
  font-size: 14px;
}

.market-form textarea {
  resize: none;
  height: 80px;
}

.add-option-btn,
.submit-btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.add-option-btn {
  background-color: #21262d;
  color: #58a6ff;
  margin-top: 10px;
}

.add-option-btn:hover {
  background-color: #30363d;
}

.submit-btn {
  background: #58a6ff;
  color: #fff;
  font-weight: bold;
  margin-top: 20px;
}

.submit-btn:hover {
  background: #1f6feb;
}

.wallet-info {
  flex: 1;
  text-align: center;
  background: #21262d;
  padding: 80px;
  border-radius: 10px;
  color: #c9d1d9;
  margin-top: 200px;
  margin-right: 220px;
}

.wallet-info h3 {
  margin-bottom: 10px;
}

.connect-wallet-btn {
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: #1f6feb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.connect-wallet-btn:hover {
  background: #58a6ff;
}

.wallet-address {
font-size: 14px;
color: #4caf50;
margin-top: 10px;
word-break: break-all;
}